<!doctype html>
<html>
  <head>
    <title>Audiotech</title>
    <link rel="stylesheet" href="/static/audiotech/css/style.css">
  </head>
  <body>
    <h1><a href={{ url("trends.home", "atcms.urls") }}>Audiotech Trends</a></h1>
    <h1><a href={{ url("audiotech.home", "atcms.urls") }}>Audiotech Summaries</a></h1>
  </body>
</html>
