{% extends "trends/layout.html" %}
{% block contents %}
<div class="articles">
  {% for article in articles %}
  <div class="article">
    <h1 class="article-title"><a href={{ url("trends.article", "atcms.urls", article.slug) }}>{{ article.title }}</a></h1>
    <div class="article-contents">{{ article.md_contents }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
