{% extends "audiotech/layout.html" %}
{% block contents %}
<div class="articles">
  <div class="article">
    <h1 class="article-title"><a href={{ url("audiotech.article", "atcms.urls", article.slug) }}>{{ article.title }}</a></h1>
    <div class="article-contents">{{ article.md_contents }}</div>
  </div>
</div>
{% endblock %}
