<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="/static/audiotech/css/style.css">
    {% endblock %}
  </head>
  <body>
    {% block masthead %}
    <h1 class="masthead"><a href={{ url("audiotech.home", "atcms.urls") }}>Audiotech Trends</a></h1>
    <h2 class="products"><a href={{ url("home", "atcms.urls") }}>Our Other Products</a></h2>
    {% endblock %}
    <div id="master">
      {% block contents %}
      {% endblock %}
    </div>
  </body>
</html>

